:root{
    --btn-size: 5vh;
    --chat-panel-padding: 5vh;

    --chat-message-padding: 15px;
    --chat-message-spacing: 10px;
}

p{
    margin: 0px;
    padding: 0px;
}

body{
    padding: 0px;
    margin: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(24, 40, 40);
}

.chat-panel{
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 15vh;
    width: 100vw;
    padding-top: var(--chat-panel-padding);
    /* background-color: rgba(0, 0, 0, 0.65); */
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(2px);
}

.chat-item-row{
    display: flex;
    flex-direction: row;
    align-items: start;
    width: 100%;
}

.chat-item-col{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.col-start{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
}

.col-end{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    align-items: start;
}

.chat-panel input{
    width: 66vw;
    height: var(--btn-size);
    border-radius: 5vh;
    font-size: 2vh;
    border: 2px solid;
    outline: none;
    padding: 0px;
    margin: 0px;
    padding-left: 10px;
    background-color: transparent;
    border-color: white;
    color: white;
}

.chat-panel button{
    width: var(--btn-size);
    height: var(--btn-size);
    border-radius: var(--btn-size);
    background-color: transparent;
    outline: none;
    border: 2px solid;
    border-color: white;
    font-size: 2vh;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
    margin: 0px;
    color: white;
    border-image: none;
    cursor: pointer;
}

.messages{
    position: fixed;
    top: 0px;
    height: 80vh;
    width: 100vw;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color:rgba(255, 255, 255, 0.05) transparent;
}

.message{
    margin-top: var(--chat-message-spacing);
    margin-left: var(--chat-message-spacing);
    margin-right: var(--chat-message-spacing);
    display: flex;
    flex-direction: row;
    align-items: start;
}

.message .bubble{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: fit-content;
    max-width: 66vw;
    padding: var(--chat-message-padding);
    border-radius: var(--chat-message-padding);
    background-color: rgba(255, 255, 255, 0.10);
}

.message.self-message{
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: end;
}

.message.self-message .bubble{
    align-items: end;
}

.message .message-text{
    font-size: 20px;
}

.message .message-time{
    font-size: 10px;
    color: rgba(255, 255, 255, 0.75);
}

.message-status {
    text-align: center;
}

.message-margin {
    margin-bottom: var(--chat-message-spacing);
}