<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Funny Chat</title>
    <link rel="stylesheet" href="styles.css">
    <script src="index.js"></script>
</head>
<body>
    <div id="locationPrompt">
        <button id="locateButton" type="button">Send</button>
    </div>
    <div id="messages">
        <i>no messages</i>
    </div>
    <input type="text" name="message" id="messageInput">
    <button id="messageSendButton" type="button">Send</button>
    <div>
        <p id="location">Location: unknown</p>
    </div>
</body>
</html>