<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Funny Chat</title>
	<!-- <link rel="stylesheet" href="styles.css" /> -->
	<link rel="stylesheet" href="/static/styles.css" />
</head>

<body>
	<div id="messages" class="messages">
		<p class="message-status"><i>Start of conversation</i></p>


		<div class="message">
			<div id="bub" class="bubble">
				<p class="message-test">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis praesentium tenetur placeat? Impedit saepe iste quaerat, iusto debitis quod in mollitia cupiditate non. Voluptate dolore nobis beatae placeat, nihil est?</p>
				<p class="message-time"">12:35 PM</p>
			</div>
		</div>
		<div class="message">
			<div class="bubble">
				<p class="message-test">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis praesentium tenetur placeat? Impedit saepe iste quaerat, iusto debitis quod in mollitia cupiditate non. Voluptate dolore nobis beatae placeat, nihil est?</p>
				<p class="message-time"">12:35 PM</p>
			</div>
		</div>
		<div class="message">
			<div class="bubble">
				<p class="message-test">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis praesentium tenetur placeat? Impedit saepe iste quaerat, iusto debitis quod in mollitia cupiditate non. Voluptate dolore nobis beatae placeat, nihil est?</p>
				<p class="message-time"">12:35 PM</p>
			</div>
		</div>
		<div class="message">
			<div class="bubble">
				<p class="message-test">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis praesentium tenetur placeat? Impedit saepe iste quaerat, iusto debitis quod in mollitia cupiditate non. Voluptate dolore nobis beatae placeat, nihil est?</p>
				<p class="message-time"">12:35 PM</p>
			</div>
		</div>
		<div class="message self-message">
			<div class="bubble">
				<p class="message-test">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis praesentium tenetur placeat? Impedit saepe iste quaerat, iusto debitis quod in mollitia cupiditate non. Voluptate dolore nobis beatae placeat, nihil est?</p>
				<p class="message-time"">12:35 PM</p>
			</div>
		</div>
		<div class="message">
			<div class="bubble">
				<p class="message-test">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis praesentium tenetur placeat? Impedit saepe iste quaerat, iusto debitis quod in mollitia cupiditate non. Voluptate dolore nobis beatae placeat, nihil est?</p>
				<p class="message-time"">12:35 PM</p>
			</div>
		</div>
		<div class="message">
			<div class="bubble">
				<p class="message-test">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis praesentium tenetur placeat? Impedit saepe iste quaerat, iusto debitis quod in mollitia cupiditate non. Voluptate dolore nobis beatae placeat, nihil est?</p>
				<p class="message-time"">12:35 PM</p>
			</div>
		</div>

		<div class="message-margin"></div>

	</div>
	<div class="chat-panel">
		<div class="chat-item-row">

			<div class="chat-item-col location-col">

				<div id="locationPrompt">
					<button id="locateButton" type="button">◈</button>
				</div>
				

			</div>

			<div class="chat-item-col">

				<input type="text" name="message" id="messageInput" disabled placeholder="Enter message" />
				
			</div>

			<div class="chat-item-col send-col">
				<button id="messageButton" type="button">▶</button>
				
			</div>

		</div>
		<div class="chat-item-row">
			<div class="chat-item-col col-start">
				<p id="location">--.----º<br>--.----º</p>
			</div>

			<div class="chat-item-col">
				<p id="messagePresence">There are others</p>
			</div>

			<div class="chat-item-col col-end">
				<!-- <p>Send</p> -->
			</div>


		</div>

	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
		integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
		crossorigin="anonymous"></script>
	<script src="/static/index.js"></script>
</body>

</html>